#HomeForm {
  background-color: rgba(43, 40, 40, 0.8);
  display: inline-block;
  width: 500px;
  margin-top: 10rem;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#main {
  text-align: center;
}

#Button {
  width: 20rem;
  height: 4rem;
  /* background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,118,1) 35%, rgba(0,212,255,1) 100%); */
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

#mainLogo {
  width: 250px;
  margin-bottom: 5rem;
}
