.home-page-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/public/assets/images/wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-box {
  background-color: rgba(39, 39, 39, 0.5);
  display: inline-block;
  width: 500px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-align: center;
}

.home-box h1 {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(210, 23, 216), 0 0 82px rgb(210, 23, 216),
    0 0 92px rgb(210, 23, 216), 0 0 102px rgb(210, 23, 216),
    0 0 151px rgb(210, 23, 216);
  text-align: center;
  font-family: neon;
  animation: flicker 1.5s infinite alternate;
  font-size: 70px;
}

.home-button {
  background: inherit;
  box-shadow: 0 14px 28px rgba(75, 75, 75, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  border: 1px solid white;
  width: 300px;
  height: 48px;
  border-radius: 3px;
  color: white;
  margin-top: 30px;
}

.home-button-container {
  margin-top: 100px;
}
