.initial-component {
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: white;
}

.user-order {
  padding-top: 10px;
}

.initial-gamelog {
  padding-top: 10px;
  padding-bottom: 5px;
}

.initial-consonant {
  padding-top: 5px;
  padding-bottom: 5px;
}

.MuiFormControl-root {
  color: white;
  font-size: large;
}

.MuiSelect-select {
  color: white;
  font-size: large;
}

.MuiInputLabel-root {
  color: white;
  font-size: large;
}
