.liar-component {
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: white;
}

.MuiFormControl-root {
  color: white;
  font-size: large;
}

.MuiSelect-select {
  color: white;
  font-size: large;
}

.MuiInputLabel-root {
  color: white;
  font-size: large;
}
