.vote-container {
  width: 100%;
  height: 100%;
  font-family: SBAggroL;
  color: #333;
  padding: 5%;
}

.vote-title {
  margin-bottom: 10%;
}

.vote-person {
  color: rgb(93, 158, 19);
  font-weight: 600;
  letter-spacing: 3px;
}

.liar-res-hero {
  color: orchid;
}

.liar-res-bottom {
  color: rgb(224, 203, 13);
  margin-top: 20%;
}
