.stream-container {
	padding: 0;
	height: 50%;
}
.room-container {
	width: 100vw;
  height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/public/images/roombg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
}
#session {
	width: 85%;
	display: flex;
	flex-direction: column;
	background-color: rgba( 0, 0, 0, 0.7 );
	border-radius: 10px;
	/* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/images/room-session-bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover; */
	margin: 2%;
}

#session-header {
	align-self: center;
	text-align: center;
	height: 10%;
	display: flex;
	align-items: center;
}

#video-container {
	display: flex;
	width: 100%;
	height: 80%;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

#session-footer {
	align-self: center;
	text-align: center;
	height: 10%;
	display: flex;
	align-items: center;
}

.gamebox {
	width: 15%;
	height: 80%;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
	margin: 2%;
}

.stream-container1 {
	height: 80%;
	width: 80%;
}
.stream-container2 {
	flex-grow: 1;
	height: 50%;
}
.stream-container3 {
	width: 40%;
	height: 45%;
}
.stream-container4 {
	width: 33%;
	height: 40%
}
.stream-container5 {
	width: 24%;
	height: 40%
}
@media (max-width: 1600px) {
	.stream-container5{
		width: 24%;
		height: 30%
	}
}

@media (max-width: 1200px) {
	.stream-container3{
		width: 45%;
		height: 33%
	}
	.stream-container4{
		width: 45%;
		height: 33%;
	}
	.stream-container5{
		width: 40%;
		height: 23%
	}
}


