.game-menu {
  width: 70px;
  height: 70px;
  background: #212532;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.game-menu.active {
  width: 200px;
  height: 200px;
}

.game-menu span {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  transform: translate(calc(12px*var(--x)))
}