.lobby-roomlist-container {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  width: 95%;
  background: rgba(175, 175, 175, 0.3);
  border-radius: 10px;
}

.lobby-roomlist-item {
  flex-basis: 50%;
  border-radius: 0px;
  height: 33.33%;
  padding: 20px;
}
