.search-container {
  width: 40%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.search-button {
  width: 20%;
  height: 100%;
}

.search-button p {
  font-size: 15px;
}

.search-input {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.search-input input {
  height: 100%;
}