.lobby-room-list-item-info {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
  background-position: 100% 50%;
  padding: 0px;
  border-radius: 10px;
  transition: 0.3s;
  overflow: hidden;
  cursor: pointer;
}

.lobby-room-list-item-info:hover {
  box-shadow: 0px 10px 20px rgba(40, 133, 221, 0.8);
}

.lobby-room-list-item-info p span {
  margin-right: 5px;
}

.lobby-room-list-item-info Button {
  height: 50%;
  width: 20%;
  border-radius: 0;
}

.room-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 70%;
  height: 100%;
  padding: 1%;
  overflow: hidden;
}

.lobby-room-list-item-info button {
  background: none;
  width: 20%;
  height: 40%;
  align-self: flex-end;
  margin-left: auto;
  border: 0;
}

.lobby-room-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1%;
  width: 100%;
  height: 25%;
  background: rgba(95, 95, 95, 0.8);
  display: flex;
  align-items: center;
  padding: 2%;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}
.room-lock {
  height: 100%;
  float: right;
}

.lobby-room-count {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-left: 2%;
  background-color: rgb(31, 31, 31);
  padding: 1%;
  border-radius: 10px;
}

.lobby-room-count span {
  margin-right: 3px;
  margin-left: 3px;
}
.room-exp {
  width: 100%;
  height: 75%;
  background-color: rgba(43, 43, 43, 0.9);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  padding: 2%;
  border-radius: 10px;
}
.lobby-room-list-item-info img {
  margin-left: auto;
  align-self: flex-end;
  height: 100%;
}

.lobby-room-content {
  width: 80%;
}

.green-light {
  border-radius: 50%;
  margin-left: auto;
  margin-top: 2%;
  margin-right: 2%;
  background: #03ff25;
  box-shadow: 0 0 50px #03ff25;
  width: 10px;
  height: 10px;
}

.red-light {
  border-radius: 50%;
  margin-left: auto;
  margin-top: 2%;
  margin-right: 2%;
  background: #f70d1a;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #d64b4b 0 -1px 9px,
    rgba(212, 20, 20, 0.719) 0 2px 12px;
  width: 10px;
  height: 10px;
}
