.profile-update-content {
  width: 50%;
  height: 100%;
  padding-left: 5%;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  font-family: SBAggroL !important;
  font-size: 15px !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: SBAggroL !important;
  font-size: 15px !important;
}
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: SBAggroL !important;
  font-size: 15px !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: SBAggroL !important;
  font-size: 15px !important;
}

.update-title {
  margin-bottom: 12%;
}

.update-title p {
  font-size: 30px;
}
.profile-update-form-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}
.profile-update-form-contents div {
  margin-bottom: 3%;
}

.select-font-size {
  font-size: 13px;
}

.profile-update-submit {
  width: 30%;
  text-align: center;
  align-self: center;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: auto;
  color: rgb(107, 107, 204);
  font-weight: 900;
  letter-spacing: 4px;
  cursor: pointer;
}
