.lobby-page-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/public/assets/images/bg3.jpeg);
  display: grid;
  background-repeat: no-repeat;
  justify-content: center;
  /* align-items: stretch; */
  /* flex-direction: column; */
  grid-template-columns: repeat(5, 1fr);
}
.lobby-header {
  grid-column: 1/6;
  grid-row: 4/8;
  align-self: center;
}
.lobby-side-bar {
  grid-column: 1/2;
  grid-row: 2/8;
  margin: 20px;
  align-self: stretch;
}
.lobby-main-contents {
  grid-column: 2/6;
  grid-row: 2/8;
  margin: 20px;
  margin-left: 0px;
  align-self: stretch;
  padding: 10px;
}

.lobby-form {
  /* 편집위해 잠시 하얀색 배경으로 변경하겠습니다 */
  /* background-color: rgba(0, 0, 0, 0.99); */
  background-color: rgba(255, 255, 255, 0.99);
  /* box-shadow: 1px 1px 8px 8px rgb(162, 0, 255); */
  border-radius: 5px;
}
