.lobby-page-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/public/assets/images/bg.jpg);
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#LobbyForm {
  background-color: rgba(43, 40, 40, 0.8);
  box-shadow: 1px 1px 8px 8px rgb(162, 0, 255);
  border-radius: 5px;
}
