.login-page-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/public/assets/images/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
}

.login-left-side {
  width: 30%;
  border-radius: 10px 0px 0px 10px;
  padding-left: 30px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  margin-right: 100px;
}

.login-left-side h1 {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(210, 23, 216), 0 0 82px rgb(210, 23, 216),
    0 0 92px rgb(210, 23, 216), 0 0 102px rgb(210, 23, 216),
    0 0 151px rgb(210, 23, 216);
  text-align: left;
  font-family: neon;
  animation: flicker 1.5s infinite alternate;
  margin-top: 100px;
}

.login-right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-right-side h1 {
  color: white;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px rgb(210, 23, 216), 0 0 80px rgb(210, 23, 216),
      0 0 90px rgb(210, 23, 216), 0 0 100px rgb(210, 23, 216),
      0 0 150px rgb(210, 23, 216);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.login-input-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(68, 68, 68);
  margin-top: 8px;
}

.login-input-button-icon {
  background: rgba(167, 167, 167, 0.4);
  height: 48px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 1px;
  border-radius: 3px 0px 0px 3px;
}
.login-input {
  background: rgba(167, 167, 167, 0.4);
  width: 380px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0px 3px 3px 0px;
}

.login-input input {
  border: none;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-select {
  background-color: transparent;
  border: 0;
  height: 100%;
  width: 80%;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  color: rgba(136, 136, 136, 0.8);
  font-size: 18px;
  font-weight: 800;
  margin-right: 10px;
}

.login-kakao-button {
  background: #eeda23;
  width: 430px;
  height: 48px;
  border-radius: 3px;
  margin-top: 30px;
  font-weight: 700;
  border: 0;
}

.login-kakao-img {
  float: left;
  height: 60%;
}

.login-google-button {
  background: #dc483b;
  width: 430px;
  height: 48px;
  border-radius: 3px;
  margin-top: 10px;
  font-weight: 700;
  border: 0;
  color: white;
}
.login-google-img {
  float: left;
  height: 60%;
}

.login-submit-button {
  background: inherit;
  border: 1px solid white;
  width: 430px;
  height: 48px;
  border-radius: 3px;
  color: white;
  margin-top: 30px;
}
