.login-page-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),url(/public/assets/images/wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
}

.login-left-side {
  width: 30%;
  border-radius: 10px 0px 0px 10px;
  padding-left: 30px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  background-size: cover;
  background-position: 0% 0%;
  margin-right: 150px;
}

#left-side h1 {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(210, 23, 216), 0 0 82px rgb(210, 23, 216),
    0 0 92px rgb(210, 23, 216), 0 0 102px rgb(210, 23, 216),
    0 0 151px rgb(210, 23, 216);
  text-align: left;
  font-family: neon;
  animation: flicker 1.5s infinite alternate;
  margin-top: 100px;
}

#login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}





#right-side {
  width:70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#right-side h1 {
  color: white;
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px rgb(210, 23, 216), 0 0 80px rgb(210, 23, 216),
      0 0 90px rgb(210, 23, 216), 0 0 100px rgb(210, 23, 216),
      0 0 150px rgb(210, 23, 216);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.kakao-login {
  background: yellow;
  width: 470px;
  height: 48px;
  border-radius: 3px;
  margin-top: 30px;
  font-weight: 800;
  border: 0;
}

.google-login {
  background: rgb(201, 74, 74);
  width: 470px;
  height: 48px;
  border-radius: 3px;
  margin-top: 10px;
  font-weight: 800;
  border: 0;
}

#login-select {
  background-color: transparent;
  border: 0;
  height: 100%;
  width: 80%;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  color: rgba(136, 136, 136, 0.8);
  font-size: 18px;
  font-weight: 800;
  margin-right: 10px;
}