.login-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: black;
  color: white;
}

.login-left {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-right {
  grid-column: 6 / 9;
  grid-row: 3 / 9;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  margin: 30px;
}
.login-submit {
  margin: 30px;
}