.login-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  background-image: url(/public/images/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.login-left {
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.login-left p {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(210, 23, 216), 0 0 82px rgb(210, 23, 216),
    0 0 92px rgb(210, 23, 216), 0 0 102px rgb(210, 23, 216),
    0 0 151px rgb(210, 23, 216);
  text-align: center;
  animation: flicker 3s infinite alternate;
  font-size: 40px;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px rgb(210, 23, 216), 0 0 80px rgb(210, 23, 216),
      0 0 90px rgb(210, 23, 216), 0 0 100px rgb(210, 23, 216),
      0 0 150px rgb(210, 23, 216);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.login-right {
  grid-column: 7 / 10;
  grid-row: 2 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  color: white;
  padding: 5px;
}

.login {
  font-size: 40px;
  margin-bottom: 7%;
  cursor: default;
  position: absolute;
  top: 100px;
}

.login-form {
  display: flex;
  margin-bottom: 15px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.login-submit {
  background: rgb(139, 77, 238);
  border: 0;
  width: 75%;
  height: 45px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
  transition: 0.2s;
}

.login-submit:hover {
  border: 0;
  color: rgb(255, 255, 255);
}

.login-input {
  background: rgba(167, 167, 167, 0.4);
  width: 68%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0px 3px 3px 0px;
  padding-left: 10px;
}

.login-input input {
  border: none;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-input input::placeholder {
  color: rgba(177, 177, 177, 0.65);
  font-size: 14px;
}

.login-select {
  background-color: transparent;
  border: 0;
  height: 100%;
  width: 50%;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  color: rgba(177, 177, 177, 0.65);
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
}

.login-icon {
  background: rgba(167, 167, 167, 0.4);
  width: 7%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 1px;
  border-radius: 3px 0px 0px 3px;
}

.login-icon img {
  height: 40%;
}

.login-email input {
  border-right: 1px solid black;
}

.login-signup {
  margin-top: 3rem;
  color: #0095f6;
  cursor: pointer;
  transition: 0.2s;
}

.login-signup:hover {
  color: #1fa0f7;
}

.login-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
}

.line {
  background-color: rgb(133, 133, 133);
  height: 1px;
  width: 34.5%;
}

.line-or {
  margin-left: 1rem;
  margin-right: 1rem;
  color: rgb(133, 133, 133);
  font-size: 16px;
  cursor: default;
}

.login-kakao-button {
  background: #eeda23;
  width: 75%;
  height: 45px;
  border-radius: 3px;
  margin-top: 30px;
  font-weight: 700;
  border: 0;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.login-kakao-button img {
  float: left;
  height: 50%;
}

.login-google-button {
  background: #dc483b;
  width: 75%;
  height: 45px;
  border-radius: 3px;
  margin-top: 10px;
  font-weight: 700;
  border: 0;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

.login-google-button img {
  float: left;
  height: 60%;
}

.login-google-button:hover {
  color: rgb(255, 255, 255);
}

.login-kakao-button:hover {
  color: rgb(0, 0, 0);
}
