.signup-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: black;
}

.signup-left {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-right {
  grid-column: 6 / 10;
  grid-row: 2 / 10;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
