.signup-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/public/images/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.signup-left {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.signup-left p {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(210, 23, 216), 0 0 82px rgb(210, 23, 216),
    0 0 92px rgb(210, 23, 216), 0 0 102px rgb(210, 23, 216),
    0 0 151px rgb(210, 23, 216);
  text-align: center;
  animation: flicker 1.5s infinite alternate;
  font-size: 40px;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px rgb(210, 23, 216), 0 0 80px rgb(210, 23, 216),
      0 0 90px rgb(210, 23, 216), 0 0 100px rgb(210, 23, 216),
      0 0 150px rgb(210, 23, 216);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.signup-right {
  grid-column: 7 / 10;
  grid-row: 2 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  color: white;
}

.signup {
  font-size: 40px;
  margin-bottom: 70px;
  cursor: default;
}

.signup-select {
  background-color: transparent;
  border: 0;
  height: 100%;
  width: 70%;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  color: rgba(136, 136, 136, 0.8);
  font-size: 15px;
  font-weight: 700;
  margin-right: 10px;
}

.signup-select-al {
  background-color: transparent;
  border: 0;
  height: 100%;
  width: 25%;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  color: rgba(136, 136, 136, 0.8);
  font-size: 15px;
  font-weight: 700;
  margin-right: 10px;
}

.signup-form {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup-input {
  background: rgba(167, 167, 167, 0.4);
  width: 315px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0px 3px 3px 0px;
  padding-left: 10px;
}

.signup-input input {
  border: none;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.signup-submit {
  background: inherit;
  border: 1px solid rgb(133, 133, 133);
  width: 360px;
  height: 45px;
  border-radius: 3px;
  color: rgb(133, 133, 133);
  margin-top: 20px;
  transition: 0.5s;
}

.signup-submit:hover {
  border: 1px solid rgb(185, 185, 185);
  color: rgb(185, 185, 185);
}

.signup-icon {
  background: rgba(167, 167, 167, 0.4);
  width: 45px;
  height: 45px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 1px;
  border-radius: 3px 0px 0px 3px;
}

.signup-icon img {
  height: 70%;
}

.signup-duplicate {
  border: 0;
  background-color: rgba(24, 24, 24, 0.5);
  border-radius: 0px 3px 3px 0px;
  margin-left: 1px;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-duplicate button {
  width: 100%;
  height: 100%;
  background: inherit;
  border: 0;
  font-size: 12px;
}

.signup-border input {
  border-right: 1px solid black;
}

.signup-border-al input {
  border-left: 1px solid black;
  padding: 10px;
}
