.lobby-roomlist-container {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  height: 80%;
  padding: 1rem;
  width: 100%;
}
.lobby-roomlist-item {
  flex-basis: 45%;
  background-color: rgba(43, 40, 40, 0.8);
  border-radius: 5px;
  height: 30%;
  padding: 0%;
}

.lobby-roomlist-item:hover {
  box-shadow: 1px 1px 5px 5px rgba(162, 0, 255, 0.5);
}
