.lobby-sidebar-header h1 {
  color: #fff;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 0px #fff,
    0 0 42px rgb(210, 23, 216), 0 0 82px rgb(210, 23, 216),
    0 0 92px rgb(210, 23, 216), 0 0 102px rgb(210, 23, 216),
    0 0 151px rgb(210, 23, 216);
  font-family: neon;
  /* animation: flicker 1.5s infinite alternate; */
  text-align: center;
  margin-top: 10px;
}